@model Fecomercio.Application.Services.ResultService

@{
    ViewData["Title"] = "Finalizar Cobrança";
}

<h1>FinalizarCobranca</h1>

<div>
    <h4>ResultService</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSucess)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSucess)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
